body {
    background: linear-gradient(135deg, red, yellow);
    font-family: Arial, sans-serif;
  }
  
  .card {
    width: 500px;
    margin: 50px auto;
    background-color: rgb(242, 239, 239);
    height: 100%;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    box-shadow: 8px 10px 20px rgb(118, 109, 109);
  }
  
  .card:hover {
    transform: scale(1.03);
  }
  
  .card #image {
    border-radius: 10px;
    margin-top: 20px;
  }
  
  .card p {
    border-radius: 3px;
    padding: 5px;
  }
  