* {
    box-sizing: border-box;
    font-size: 1.4rem;
}
.heading {
    margin: 0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-bottom: 20px;
    font-weight: 900; 
    font-size : 4rem;
}

.main-div {
    width: 900px;
    margin: 0px auto;
    text-align: center;
    padding: 0px 60px 0px 60px;
    background : linear-gradient(90deg,beige,rgb(255, 255, 255));
    border: 2px solid beige;
}

.image {
    margin : 0;
    width: 100%;
    border-radius: 3px;
    display: inline-block; 
    background: linear-gradient(135deg, beige, #feb47b);
    padding: 10px;
    box-shadow: 4px 6px 10px rgb(69, 67, 67); 
}

.video {
    width: 100%;
    text-align: center;
}


